.sidebar{
  width: 300px;
  position: fixed;
  top: 0;
  // left: 0;
  right: 0;
  // padding: 0px 20px 0;
  height: 100vh;
  overflow: auto;
  margin-bottom: 30px;
  box-shadow: -5px 0px 6px 0px #00000008;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}